<?xml version = "1.0" encoding = "UTF-8"?>

<web-app>

	<servlet>

		<servlet-name>liang</servlet-name>
		<servlet-class>com.liang.lagou_minicat.LiangServlet</servlet-class>

	</servlet>

	<servlet-mapping>
		<servlet-name>liang</servlet-name>
		<url-pattern>/lagou</url-pattern>

	</servlet-mapping>

</web-app>